body {
  margin: 0;
  padding: 0;
}
.home-container h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Satisfy", serif;
  color: white;
}

.home-container h2 {
  color: white;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header {
  position: fixed;
  z-index: 997;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-class {
  page-break-after: always;
}
.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-title span {
  position: absolute;
  top: 50px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #3b434a;
  position: relative;
  z-index: 2;
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.65);
  height: 50px;
  transition: background-color 0.3s, height 0.3s;
}
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration: none;
}
.navbar a,
.navbar a:focus {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover {
  color: #ffb727;
}

@media (max-width: 415px) {
  .navbar a {
    padding: 5px;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar li {
    margin: 5px;
  }
}

/*----------------------------------------------------------------*/
#home {
  width: 100%;
  height: 100vh;
  background: url("./images/kajal_Background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

#home:before {
  content: "";
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px 15px;
}
.home h1 {
  margin: 0 0 10px 0;
  font-size: 70px;
  font-family: "Satisfy", serif;
  color: #fff;
}

.home h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*----------------------------------------------------------------*/

.about-container {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  width: 100%;
}
.kajalImg {
  max-width: 200px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
#about-text {
  background-color: antiquewhite;
  border-radius: 10px;
  box-sizing: border-box;
  height: fit-content;
  margin-top: 30px;
  padding: 1em;
}
/*----------------------------------------------------------------*/
.section-class {
  position: relative;
  margin: auto;
  max-width: 80%;
}

.workEx-item-button {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.workEx-item-button::after {
  content: "\25BC"; /* Unicode for downward arrow */
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\25B2"; /* Unicode for upward arrow */
}
.workExperiences-container {
  padding: 1em;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.content ul {
  list-style-type: square;
}
.workEx-item {
  padding-bottom: 20px;
}
/*----------------------------------------------------------------*/
.projects-container {
  padding: 1em;
}
.project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.project-card a {
  width: 83%;
  font-size: 18px;
  background-color: #000;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.project-card button:hover {
  opacity: 0.7;
}
.subject {
  color: grey;
  font-size: 22px;
}

/*------------------------------------------------------------------*/
.contactMe {
  display: flex;
  flex-wrap: wrap;
}
.socialContact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 300px;
  margin: auto;
  margin-bottom: 15px;
  flex: 0 0 45%;
}
.social-profiles {
  flex: 0 0 auto;
  width: 100%;
}
.socialContact-container h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}
.social-profiles-icons a {
  margin: 10px;
}
.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;

  margin: 5px 2px;
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background-color: #3b5998;
  color: white;
}

.fa-linkedin-in {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.email-call-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.emailMe {
  flex: 0 0 auto;
  width: 45%;
}
.callMe {
  flex: 0 0 auto;
  width: 45%;
}
.social-contact-fmt {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin-top: 10px;
}

.email-icon {
  color: #ff0000; /* Customize the color for the email icon */
}

.phone-icon {
  color: #00ff00; /* Customize the color for the phone/call icon */
}
.contact-form-container {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  min-width: 300px;
  margin: auto;
  margin-bottom: 15px;
  flex: 0 0 45%;
}
.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-form-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
